<figure>
<% images.each_with_index do |image, index| %>
    <a href="<%= image.url %>"><img
        src="<%= image.url %>"
        alt="<%= image.alt %>"
        width="<%= 100/columns-1 %>%"></a>
<% end %>
<figcaption><%= caption %></figcaption>
</figure>
